@page "/game"

<div class="game-container" @onclick="StartGame">
    <div class="sky">
        <div class="bird" style="@_birdCsss"></div>
    </div>
    <div class="ground"></div>
</div>

@code {
    GameManager _gameManager;
    string _birdCsss => $"bottom: {_gameManager.Bird.DistanceFromGround}px";

    protected override void OnInitialized()
    {
        _gameManager = new GameManager();
        _gameManager.PropertyChanged += (o, e) => StateHasChanged();
    }

    void StartGame()
    {
        _gameManager.MainLoop();
    }
}